footer.footer
  .footer__left #visitsedona
  .footer__middle
    ul.footer__middle-socials
      li.socials__item
        a(href="https://twitter.com" class="socials__item-link")
          include ../../icons/tw.svg
      li.socials__item
        a(href="https://facebook.com" class="socials__item-link")
          include ../../icons/fb.svg
      li.socials__item
        a(href="https://youtube.com" class="socials__item-link")
          include ../../icons/youtube.svg
  .footer__right
    .footer__right-text website by
    a(href="https://htmlacademy.ru" class="footer__right-logo-link")
      .footer__right-logo