header.header
  .header__logo
    a(href="index.html" class="logo__link")
      include ../../icons/logo.svg
  .menu
    nav.nav__menu
      ul.menu__list
        li.menu__item
          a(href="index.html" class="item__link item__link--active" id="index") информация
        li.menu__item
          a(href="#" class="item__link") фото и видео
        li.menu__item
          a(href="#" class="item__link") карта штата
        li.menu__item
          a(href="hotels.html" class="item__link" id="hotels") гостиницы