extends ../template

block content
  .wrapper 
    .container
      section.filter
        include ../common/header
        form.filter__form
          .filter__form-wrapper
            .filter__checkbox
              .checkbox__title инфраструктура:
              ul.filter__list
                li.filter__item
                  input(type="checkbox" class="item__checkbox" id="item__pool")
                  label(for="item__pool" class="item__label") бассейн
                li.filter__item
                  input(type="checkbox" class="item__checkbox" id="item__parking")
                  label(for="item__parking" class="item__label") парковка
                li.filter__item
                  input(type="checkbox" class="item__checkbox" id="item__wi-fi")
                  label(for="item__wi-fi" class="item__label") wi-fi
              .block__title тип жилья:
              ul.filter__list
                li.filter__item
                  input(type="checkbox" class="item__checkbox" id="item__hotel")
                  label(for="item__hotel" class="item__label") гостиница
                li.filter__item
                  input(type="checkbox" class="item__checkbox" id="item__motel")
                  label(for="item__motel" class="item__label") мотель
                li.filter__item
                  input(type="checkbox" class="item__checkbox" id="item__apartments")
                  label(for="item__apartments" class="item__label") апартаменты
