extends ../template

block content
  .wrapper 
    .container
      section.filter
        include ../common/header
        form.filter__form
          .filter__form-wrapper
            .filter__checkbox
              .checkbox__wrapper
                .checkbox__title инфраструктура:
                ul.filter__list
                  li.filter__item
                    label(for="item__pool" class="item__label")
                      input(type="checkbox" class="item__checkbox" id="item__pool" checked)
                      span.fake__checkbox
                        span.fake__checkbox-icon
                          include ../../icons/check-mark.svg
                      span.checkbox__label бассейн
                  li.filter__item
                    label(for="item__parking" class="item__label")
                      input(type="checkbox" class="item__checkbox" id="item__parking")
                      span.fake__checkbox
                        span.fake__checkbox-icon
                          include ../../icons/check-mark.svg
                      span.checkbox__label парковка
                  li.filter__item
                    label(for="item__wi-fi" class="item__label")
                      input(type="checkbox" class="item__checkbox" id="item__wi-fi")
                      span.fake__checkbox
                        span.fake__checkbox-icon
                          include ../../icons/check-mark.svg
                      span.checkbox__label wi-fi
              .checkbox__wrapper
                .checkbox__title тип жилья:
                ul.filter__list
                  li.filter__item
                    label(for="item__hotel" class="item__label")
                      input(type="checkbox" class="item__checkbox" id="item__hotel" checked)
                      span.fake__checkbox
                        span.fake__checkbox-icon
                          include ../../icons/check-mark.svg
                      span.checkbox__label гостиница
                  li.filter__item
                    label(for="item__motel" class="item__label")
                      input(type="checkbox" class="item__checkbox" id="item__motel" checked)
                      span.fake__checkbox
                        span.fake__checkbox-icon
                          include ../../icons/check-mark.svg
                      span.checkbox__label мотель
                  li.filter__item
                    label(for="item__apartments" class="item__label")
                      input(type="checkbox" class="item__checkbox" id="item__apartments" checked)
                      span.fake__checkbox
                        span.fake__checkbox-icon
                          include ../../icons/check-mark.svg
                      span.checkbox__label апартаменты
            .filter__price
              .price__title стоимость в сутки (р):
              .price__range
                .range__start от 0
                .range__end до 3000
              .price__scale
                .scale__min
                .scale__max
              button(type="submit" class="price__button") показать
      
      section.sorting
        .sorting__container
          .sorting__left
            .sorting__result найдено: 3
            .sorting__props
              .props__title сортировка:
              .props__price.props.props__active по цене
              .props__type.props по типу
              .props__rating.props по рейтингу
          .sorting__right
            .sorting__arrow
              .arrow__up
                include ../../icons/triangle.svg
              .arrow__down.arrow__active
                include ../../icons/triangle.svg
      
      section.results
        ul.results__list
          li.results__item
            .item__container
              .item__left
                .item__img
                  img(src="./assets/images/img-1.png", alt="")
                .item__info
                  a(href="#" class="info__title-link")
                    .info__title amara resort & spa
                  .info__name
                    span.name__text гостиница
                    span.name__price от 4000 р.
                  .info__button
                    button.button__more подробнее
                    button.button__booking забронировать
              .item__rating
                .rating__stars
                  include ../../icons/star.svg
                  include ../../icons/star.svg
                  include ../../icons/star.svg
                  include ../../icons/star.svg
                .rating__number рейтинг: 8,5
          li.results__item
            .item__container
              .item__left
                .item__img
                  img(src="./assets/images/img-2.png", alt="")
                .item__info
                  a(href="#" class="info__title-link")
                    .info__title desert quail inn
                  .info__name
                    span.name__text мотель
                    span.name__price от 3000 р.
                  .info__button
                    button.button__more подробнее
                    button.button__booking забронировать
              .item__rating
                .rating__stars
                  include ../../icons/star.svg
                  include ../../icons/star.svg
                  include ../../icons/star.svg
                .rating__number рейтинг: 8,9
          li.results__item
            .item__container
              .item__left
                .item__img
                  img(src="./assets/images/img-3.png", alt="")
                .item__info
                  a(href="#" class="info__title-link")
                    .info__title villas at poco diablo
                  .info__name
                    span.name__text апартаменты
                    span.name__price от 2000 р.
                  .info__button
                    button.button__more подробнее
                    button.button__booking забронировать
              .item__rating
                .rating__stars
                  include ../../icons/star.svg
                  include ../../icons/star.svg
                .rating__number рейтинг: 9,2

      include ../common/footer


