extends ../template

block content
  .wrapper 
    .container
      section.hero
        include ../common/header
        .hero__main
          .main__welcome
            include ../../icons/welcome.svg
          .main__gorgeous
            include ../../icons/gorgeous.svg
          .main__sedona
            include ../../icons/sedona.svg
          .main__canyon
            include ../../icons/grand_canyon_sucks.svg
          .hero__bottom
            include ../../icons/bottom_shape.svg
      section.features
        .features__header
          .features__header-title седона — небольшой городок в аризоне, заслуживающий большего!
          .features__header-text рассмотрим 5 причин, по которым седона круче, чем гранд каньон!
        .features__city
          .city__left
            .city__left-title настоящий городок
            .city__left-number — №1 —
            .city__left-text седона - не аттракцион для туристов, там течет своя жизнь
        .features__icons
          ul.icons__list
            li.icons__item
              .item__icon
                include ../../icons/house_icon.svg
              .item__title жилье
              .item__text рекомендуем пожить в настоящем мотеле, все как в кино!
            li.icons__item
              .item__icon
                include ../../icons/burger_icon.svg
              .item__title еда
              .item__text всегда заказывайте фирменный бургер, вы не разочаруетесь!
            li.icons__item
              .item__icon
                include ../../icons/gift_icon.svg
              .item__title сувениры
              .item__text не только китайского, но и местного производства!
        .features__bridge
          .bridge__right
            .bridge__right-title там есть мост дьявола
            .bridge__right-number — №2 —
            .bridge__right-text да, по нему можно пройти! если конечно вы осмелитесь
        .features__other
          ul.other__list
            li.other__item
              .item__title небольшая площадь
              .item__number — №3 —
              .item__desc все достопримечательности находятся очень близко
            li.other__item
              .item__title красивая дорога
              .item__number — №4 —
              .item__desc ехать в седону из лас-вегаса совсем не скучно!
            li.other__item
              .item__title мало туристов
              .item__number — №5 —
              .item__desc большинство едет в гранд каньон и толпится там
      section.search
        .search__title заинтересовались?
        .search__text Укажите предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в седоне
        button.search__button поиск гостиницы в седоне
        form.form__elem(action="#").active
          .search__form
            .form__input
              label(class="input__label" for="checkin") дата заезда:
              .input__date
                input(type="text" class="form__block-input" id="checkin" name="checkin" value="24 апреля 2017" required)
                .input__date-icon
                  include ../../icons/calendar.svg
            .form__input
              label(class="input__label" for="checkin") дата выезда:
              .input__date
                input(type="text" class="form__block-input" id="checkout" name="checkout" value="4 июля 2017" required)
                .input__date-icon
                  include ../../icons/calendar.svg
            .people__input
              .people.adults
                .people__lable взрослые:
                .people__controls
                  .controls__minus
                    include ../../icons/minus.svg
                  .controls__value#controls__value 2
                  .controls__plus
                    include ../../icons/plus.svg
              .people.children
                .people__lable дети:
                .people__controls
                  .controls__minus
                    include ../../icons/minus.svg
                  .controls__value#controls__value 0
                  .controls__plus
                    include ../../icons/plus.svg
            button.search__form-button найти                 
        #map.map
        include ../common/footer
